.cardWrapper {
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);

  background-color: white;
  list-style-type: none;
  /* flex-basis: 150px; */
  flex-grow: 1;
  max-width: 300px;

  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: transform 0.25s ease-in-out;
}

.cardWrapper:hover {
  transform: scale(1.03);
}

.profilePic {
  max-width: 75px;
  margin-bottom: 0.5rem;
}

.username {
  margin: 0;
}

.detailsWrapper > summary {
  outline: none;
  padding: 0 5px;
}

.detailsWrapper > summary:focus {
  border: 2px solid var(--mediumPurple, #8241b8);
}

.detailsWrapper > summary:hover {
  cursor: pointer;
}

.detailsWrapper[open] {
  width: 100%;
}

.details {
  position: relative;
  margin-top: 0.5rem;
  padding-left: 0.7rem;
}

.details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--mediumPurple, #8241b8);
}

.name {
  font-weight: bold;
}

.bio {
  font-style: italic;
}

.details > p {
  margin-bottom: 0.5rem;
}

.details > a {
  display: block;
  margin-bottom: 0.5rem;
  text-decoration: none;
  transition: all 0.2s ease;
  color: var(--mediumPurple, #8241b8);
}

.details > a:hover {
  text-decoration: underline;
  color: var(--green, #1c826c);
}
